<template name="nav">
<nav class="navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{pathFor 'homeIndex'}}">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{pathFor 'homeListings'}}">Listings</a>
                </li>
                <li>
                    <a href="{{pathFor 'homeCreateListing'}}">Create A Listing</a>
                </li>
                <li>
                    <a href="{{pathFor 'homeAbout'}}">About LBL</a>
                </li>
            </ul>

        <div class="nav navbar-nav navbar-right">
        <li>{{> avatar}}</li> <li> {{> loginButtons}}</li>

        </div>
        </div>
<!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
</template>
